<h4><%= @progres_type%></h4>
<div class="container bg-gradient <%= @background_color%>">
    <div id="<%= @progres_type%>" class="connectedSortable py-3">
        <% @activities.each do |activity| %>
            <% if(activity.type_activity == @progres_type) %>
                <div class="py-3" id=<%= activity.id %> >
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%=activity.title%></h5>
                            <p class="card-text"><%=activity.description%></p>
                            <p class="card-text">Created by: <%=activity.user.email%></p>
                            <%= link_to "Show this activity", activity, :class => "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>