<% if !@notice.nil? && !@notice.empty?  %> 
    <div class="d-flex flex-row-reverse">
        <div class="card border-primary p-2">
            <div class="card-body">
                <p class="card-text"><%=@notice%></p>
            </div>
        </div>
    </div>
<% end %>