<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Home", '/', :class => "navbar-brand" %>
    <%# <a class="navbar-brand" href="#">Home</a> %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <%= link_to "About", about_path, :class => "nav-link" %>
                <%# <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a> %>
            </li>
        </ul>
        <% if current_user %>
            <form method="DELETE" action="/users/sign_out" class="form-inline my-2 my-lg-0">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Log out</button>
            </form>
        <% end %>
    </div>
</nav>