<div class="container">
    <%= render HeaderComponent.new(title: "About Todo List") %>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel felis accumsan, consequat dui sodales, congue tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce arcu magna, laoreet et est a, porta volutpat mauris. Mauris interdum non sem vitae suscipit. Vivamus aliquet consectetur leo a sodales. Morbi vel quam eu ante dignissim porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur ac tempus tortor, vitae ullamcorper neque. Nullam vulputate nisl a orci egestas iaculis.
    </p>
    <p>
    Nulla laoreet non ante vitae facilisis. Morbi malesuada pretium tincidunt. Mauris eu risus at libero bibendum lobortis. Curabitur ac leo ac purus viverra finibus. Cras mattis, ligula vitae pulvinar vehicula, dui quam venenatis metus, sed ornare orci odio ac nulla. Ut vel dignissim neque. Vivamus orci tortor, mollis a iaculis eu, dictum a elit. Mauris vel mi nibh. Vivamus rutrum ultrices lobortis.
    </p>
    <p>
    Vestibulum congue ornare feugiat. Phasellus vitae porta ex. Sed non urna gravida, placerat eros eget, consectetur enim. Duis et mauris sed ex imperdiet commodo. Integer in fringilla lacus. Vivamus augue diam, bibendum nec felis a, vehicula egestas sem. Maecenas a vestibulum mi. Vestibulum et tempor sem, vitae egestas ex. Aliquam varius nisi sagittis erat euismod finibus. Phasellus et purus velit. Mauris scelerisque diam malesuada urna condimentum eleifend. Pellentesque euismod varius ante at ultricies.
    </p>
    <p>
    Phasellus at malesuada mauris, at ornare neque. Sed fringilla, diam eget posuere efficitur, nisi libero ornare metus, varius lobortis elit libero at lectus. In posuere lacus at dolor molestie fringilla. Cras eget maximus turpis, et pellentesque nibh. Vivamus eu urna tincidunt, fringilla nulla a, cursus nisi. Nulla maximus purus vitae porttitor tincidunt. Phasellus ullamcorper malesuada nisl sit amet congue. Nullam rutrum augue vitae erat ultricies, a luctus nunc accumsan. Ut aliquam sodales ex a mollis. Aliquam id ante quam. In porttitor odio tincidunt, aliquam erat et, malesuada orci. Donec vehicula semper consectetur. Nulla consequat orci a molestie mollis. Praesent viverra sapien placerat nisl egestas dictum.
    </p>
    <p>
    Integer non tincidunt felis, a ullamcorper velit. Sed at ante consequat, pretium ipsum id, accumsan libero. Sed vehicula turpis sit amet nunc lobortis dictum. Fusce tristique et est quis blandit. Sed ullamcorper, mi vitae porttitor egestas, ex mauris facilisis nisl, ut efficitur dolor nunc et enim. Donec bibendum pharetra ultrices. In commodo faucibus leo in suscipit. Curabitur dignissim nec dui sed cursus. Aliquam vitae sapien imperdiet, ultrices nisi eu, vulputate velit. Vivamus ut malesuada sem. Maecenas facilisis tempus ante, quis vulputate nibh. Curabitur purus orci, imperdiet a neque sed, vehicula dictum purus. Quisque non nisi in massa sollicitudin consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut rutrum in libero at varius.
    </p>
<div>