<%= render NotifComponent.new(notice: notice)%>

<%= render HeaderComponent.new(title: "Todo List")%>

<div class="container">
    <center>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum dictum est, a pharetra lectus lacinia a. Morbi dapibus lacinia tortor, eu lacinia urna euismod vel. Nam rutrum ligula vel odio blandit lobortis. Phasellus vitae magna nec sapien ultricies vehicula vitae non leo. Praesent finibus dolor pharetra dictum sollicitudin. Donec varius luctus tellus id ornare. Suspendisse efficitur accumsan massa. Cras at risus vitae nisl eleifend molestie et vitae magna. Ut varius tempus accumsan. Ut blandit porttitor sodales. Mauris nec enim dapibus, placerat enim fringilla, interdum tellus. Proin pretium leo et facilisis condimentum. Curabitur et sapien nulla. Etiam tincidunt hendrerit justo sed pretium. Nullam dapibus quam in euismod feugiat.
        </p>
    </center>
    <div class="container mt-5">
        <center>
            <%= link_to "Show Activity", activities_path, :class => "btn btn-success" %>
        </center>
    </div>
</div>