<div class="container">
  <div id="<%= dom_id activity %>">
    <p>
      <strong>Type activity:</strong>
      <%= activity.type_activity %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= activity.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= activity.description %>
    </p>

  </div>
</div>
