<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :type_activity, style: "display: block" %>
    <%= form.select  :type_activity, ["Backlog", "In progress", "Done"], :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="mt-3">
    <%= form.submit 'submit', :class => "btn btn-primary" %>
  </div>
<% end %>
