<div class="container">
  <%= render HeaderComponent.new(title: "Editing Activity")%>

  <%= render "form", activity: @activity %>

  <br>

  <div>
    <%= link_to "Show this activity", @activity %> |
    <%= link_to "Back to activities", activities_path %>
  </div>
</div>