<%= render NotifComponent.new(notice: notice)%>

<%= render HeaderComponent.new(title: "Activities")%>

<div id="activities">
  <div class="container">
      <div class="row">
        <div class="col-sm-4 ">
          <%= render CardTodoListComponent.new(activities: @activities, progres_type: "Backlog", background_color: "bg-secondary")%>
        </div>
        <div class="col-sm-4 ">
            <%= render CardTodoListComponent.new(activities: @activities, progres_type: "In progress", background_color: "bg-primary")%>
        </div>
        <div class="col-sm-4 ">
          <%= render CardTodoListComponent.new(activities: @activities, progres_type: "Done", background_color: "bg-success")%>
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <center>
    <%= link_to "New activity", new_activity_path, :class => "btn btn-success" %>
  </center>
</div>

<%= javascript_include_tag "todo_list" %>