<div class="container">
  <%= render HeaderComponent.new(title: "New Activity")%>

  <%= render "form", activity: @activity %>

  <br>

  <div>
    <%= link_to "Back to activities", activities_path %>
  </div>
</div>