<div class="container">
  <%= render NotifComponent.new(notice: notice)%>

  <%= render HeaderComponent.new(title: "Show Activity")%>

  <%= render @activity %>

  <div>
    <%= link_to "Edit this activity", edit_activity_path(@activity) %> |
    <%= link_to "Back to activities", activities_path %>

    <div class="mt-3">
      <%= button_to "Destroy this activity", @activity, method: :delete, :class => "btn btn-danger" %>
    </div>
  </div>
</div>